:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --highlight-color: #f8918a;
    --font-family: "Roboto", sans-serif;
    --header-font-size: 1.9em;
    --subheader-font-size: 1.5em;
    --padding: 10px;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    display: block;
    font-size: var(--header-font-size);
    margin: 0.83em 0;
    margin-inline-end: 700px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2 {
    text-align: center;
    display: block;
    font-size: var(--subheader-font-size);
    margin: 0.83em 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color);
    font-size: 20px;
    color: var(--secondary-color);
    padding: var(--padding);
}

nav ul {
    display: none; /* Hide by default on mobile screens */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 5px 0;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--highlight-color);
}

#hamburger {
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: 24px;
    cursor: pointer;
}

.grid {
    display: grid;
}

main {
    padding: 20px;
}

figure {
    margin: 10px 0;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: var(--padding);
    position: relative;
    height: 200px;
    margin-top: 5vh;
}
